body {
    font-family: 'Segoe UI', sans-serif;
}

h2 {
    color: #2c3e50;
}

.card {
    border-radius: 10px;
}

table {
    background-color: white;
}

table td, table th {
    vertical-align: middle;
}
